<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal_user/base::Layout(~{::section})">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Setting Page</title>
</head>

<body>
    <section>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="mb-3">New Password</h1>

                            <form th:action="@{/save-newPassword}" method="post">
                               <!-- new Password -->
                                <div class="form-group" >
                                    <input  name="newPassword" type="password" class="form-control" placeholder="Ente Password"> 
                                </div>

                                <!-- Confirm password -->
                                <div class="form-group">
                                    <input name="confirmPassword" type="password" class="form-control" placeholder="Confirm Password">
                                </div>

    <div class="container text-center">
        <button type="submit" class="btn btn-success">Save Password</button>
        <button type="reset" class="btn btn-warning">Reset</button>
    </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!-- 
        <script>
            $(document).ready(() => {
                $(".item").removeClass("active");
                $("#setting-link").addClass("active");
            });

        </script> -->
    </section>
    <script>

    </script>
</body>

</html>