<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal_user/base::Layout(~{::section})">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Setting Page</title>
</head>

<body>
    <section>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="mb-3">Change Password</h1>

                            <form th:action="@{/user/change-password}" method="post">
                                <!-- old password field -->
                                <div class="form-group">
                                    <input name="oldPassword" type="password" class="form-control"
                                        placeholder="Enter Old Password">
                                </div>

                                <!-- new password -->
                                <div class="form-group">
                                    <input name="newPassword" type="password" class="form-control"
                                        placeholder="Enter New Password">
                                </div>

                                <div class="container text-center">
                                    <button type="submit" class="btn btn-success">Change</button>
                                    <button type="reset" class="btn btn-warning">Reset</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <script>
            $(document).ready(() => {
                $(".item").removeClass("active");
                $("#setting-link").addClass("active");
            });

        </script>
    </section>
    <script>

    </script>
</body>

</html>